html, body{
	font-family: 'Raleway', sans-serif; 
}

.header{

background-color: #7ed2ec;
}

.ligne{
	height: 0.1em;
	background-color: #7ed2ec;
}

.ui-bar{
	background-color: #7ed2ec;
}

.ui-content{
	cursor: pointer;
	width: 100%;
	padding: 0px
}
	.ui-content > small{
		text-align: center;
	}

.container{
	background-color: #fff;
	background-repeat: no-repeat;
	background-image: url('../images/plan_2.png');
	background-position:0%;
	margin-bottom: 3.75em; 
	padding: 1em;
	color: #fff;
}

.compteur{
	color: #fff;
	padding: 4px;
	background-color: #7ed2ec;
	font-size: 2em;
}
.compteur_header{
	float: right;
	color: #fff;
	padding: 4px;
	margin: 8px;
	background-color: #7ed2ec;
	font-size: 1em;
}

.ui-grid-c{
	width: 100%;
}

.footer{
	color: #fff;
}

.footer > img{
	float: left;
	margin-right: 10px;	
}

/* 
.velo{
	background-image: url('../images/velo1.png');
	background-repeat: no-repeat;
	background-position:26% top;

}

.roller{
	background-image: url('../images/roller.png');
	background-repeat: no-repeat;
	background-position:26% top;

}

.shoes{
	background-image: url('../images/shoes.png');
	background-repeat: no-repeat;
	background-position:26% 40%;

}

.bus{
	background-image: url('../images/bus.png');
	background-repeat: no-repeat;
	background-position:26% 40%;

}

.carte{
	height: 300px;
	background-image: url('../images/map.png');
	background-repeat: no-repeat;

} */


/*2eme page*/

.microphone{
	width: 100%;
	height: 200px;
	background-color: black;
}

.main{
	color: #fff;
}

.plan{
	width: 100%;
	height: 150px;
	background-color: black;
}

.ui-grid-b{
	color: #fff;
}

/* PAGE TROIS*/


.main > h3{
	color: #000;
	text-align: center;
}

.two .ui-bar{
	color:#000;
	background-color: #fff;
	border: 1px solid black;
	
}

.two .ui-grid-a {
	margin: 0 auto;
	width: 80%;
}

.share{
	width: 70%;
	margin: 0 auto;
	margin-top: 25px;
	padding: 4px;
	background-color: #7ed2ec;
	color: #fff;
}