html, body{
	font-family: 'Raleway', sans-serif; 
}

.header{
	background-color: #fff !important;
}

	.header >h3{
		color: #7ed2ec;
	}

	.header >img{
		position: absolute;
		top: 5px;
		left: 60px;
	}


.ui-content{
	cursor: pointer;
	width: 100%;
	padding: 0px
}
	.ui-content > small{
		text-align: center;
	}

	.ui-content >p{
		text-align: center;
		color: #000;
		margin: 11px 0px 11px 0px;
	}

.ligne{
	height: 0.1em;
	background-color: #7ed2ec;
}

.ui-bar{
	background-color: #7ed2ec;
}

.container{
	min-height: 380px;
	background-color: #fff;
	background: url('../images/background.png') no-repeat 20px 100px;
    background-attachment: fixed;
    background-size: 339px 480px;
	color: #fff;
}

.content{
	min-height: 185px;
	margin-left: 10px;

}

.content >p{
	color:#7ed2ec;	
}

.compteur{
	color: #fff;
	padding: 4px;
	background-color: #7ed2ec;
	font-size: 2em;
}
.compteur_header{
	float: right;
	color: #7ed2ec;
	padding: 4px;
	margin: 8px;
	background-color: #fff;
	font-size: 1em;
}

.ui-grid-c{
	width: 100%;
}

.grille{
	background-color: #7ed2ec;
	margin: 0em;
	padding: 0.5em;
	text-align: center;
	border-right: 1px dotted #34495e;
}

	.grille > a{
		text-decoration: none;
		color: #fff;
	}

	.grille > a:visited{
		color: #fff;
	}

	.grille:hover{
		color: #fff;
		background-color: #2980b9;
	}

.footer{
	background-color: #fff !important;
}

	.footer > img{
		float: left;
		padding: 16px 13px 0px 12px;
		 -ms-transform: rotate(-45deg); /* IE 9 */
    	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    	transform: rotate(-45deg);
	}

	.footer > p{
		color: #7ed2ec;
		padding-bottom: 0px;
	}


/*2eme page*/

.microphone{
	width: 100%;
	height: 160px;
	background-color: #fff;
	background: url('../images/son.png') no-repeat 50% 50%;
}

.plan{
	height: 150px;
	background: url('../images/map.png') no-repeat;
}

.second .grille{
	height: 55px;
}
.second .grille >a >img{
	text-align: center;
}

.headers{
	background-color:#7ed2ec !important;
}

/* PAGE TROIS*/


.main > h3{
	color: #000;
	text-align: center;
	margin: 0px;
}

.groupe .grille > p{
	height: 80px;
	margin: 0px;
}

.groupe .ui-grid-a {
	margin: 0 auto;
	width: 90%;
}

.groupe .grille{
	color: #7ed2ec;
	background-color: #fff;
	height: 80px;
}

.share{
	width: 70%;
	margin: 0 auto;
	margin-top: 25px;
	padding: 4px;
	background-color: #7ed2ec;
	color: #fff;
}