html, body{
	font-family: 'Raleway', sans-serif;
	background-color: #FFF;
	cursor: pointer;

}


ul > li > a {
	color: #000;
}


ul {
	list-style-type: : none !important;
	text-decoration: none;
}

#panel > ul > li{
	background-color: red;
}

.accueil{
	width: 20%;
	margin: 0 auto;
}
.accueil > a{
	text-align: center; 
}

li > a > img {
	margin-left: 26px !important;
	margin-top: 10px !important;
}

.grille-a{
	height: auto;
	background-color: #80CDE7;
	width: 100%;
	float: left;
	margin-bottom: 10px; 
}
.grille-b{
	height: auto;
	background-color: #80CDE7;
	width: 50%;
	float: left;
}

	.click-change{
		background-color: #F2E5D2 !important;
	}

.grille-c{
	max-height: 65px;
	height: auto;
	background-color: #80CDE7;
	width: 33%;
	float: left;
}

.grille-c >h3{
	line-height: 20px;
	color: #fff;
}

.grille-d{
	height: auto;
	background-color: #80CDE7;
	width: 25%;
	float: left;
}

.grid{
	height: 65px;
}


/* .ui-page-theme-a .ui-btn{
	background-color: #F2E5D2 !important;
}
.ui-page-theme-a .ui-btn:hover{
	background-color: #80CDE7 !important;
}
 */
#panel {
	width: 170px;
}

.proposer{
	width: 50%;
	height: auto;
	background-color: #7FCCE6;
	float: left;
}
	.proposer >img{
		display: block;
		margin: 0 auto;

	}
.choisir{
	width: 50%;
	height: auto;
	background-color: #7FCCE6;
	float: right;
}
	.choisir >img{
		display: block;
		margin: 0 auto;

	}



button{
	background-color: #7ed2ec !important;
	width: 80%  !important;
	border-radius: 0px  !important;
	color: #fff  !important;
	margin: 0 auto !important;
}

	button > a{
		text-decoration: none;
		color: #fff;
	}

h4{
	font-size: 0.6em !important;
	color: #fff;

}

a {
	text-decoration: none;
	color: #fff !important;
}

i{
	font-size: 0.7em;
	font-style: italic !important;
}

header{
	background-color: #fff !important;
}

	.header >h3{
		color: #7ed2ec;
	}

	.header >img{
		position: absolute;
		top: 5px;
		left: 60px;
	}


.ui-content{
	cursor: pointer;
	width: 100%;
	padding: 0px
}
	.ui-content > small{
		text-align: center;
	}

	.ui-content >p{
		text-align: center;
		color: #2c3e50;
		margin: 11px 0px 11px 0px;
	}

.ligne{
	height: 0.1em;
	background-color: #7ed2ec;
}

.ui-bar{
	background-color: #7ed2ec;
}

.container{
	min-height: 340px;
	background-color: #fff;
	background: url('../images/background.png') no-repeat 20px 100px;
    background-attachment: fixed;
    background-size: 339px 480px;
	color: #fff;
}

.content{
	min-height: 185px;
	margin-left: 10px;

}

.content >p{
	color:#7ed2ec;
}

.compteur{
	float: left;	
	color: #fff;
	padding: 4px;
	background-color: #7ed2ec;
	font-size: 2em;
}

.compteur_header{
	float: right;
	color: #7ed2ec;
	padding: 4px;
	margin: 8px;
	background-color: #fff;
	font-size: 1em;
}

.ui-grid-c{
	width: 100%;
}

.grille{
	background-color: #7ed2ec;
	margin: 0em;
	height: 65px;
	margin-bottom: 2px;
	padding: 0.5em;
	text-align: center;
	border-right: 1px dotted #34495e;
}

	.grille > a{
		text-decoration: none;
		color: #fff;
	}
	.grille > a:visited{
		color: #fff;
	}
	.grille > a:hover{
		color: #fff;
	}
	.grille:hover{
		background-color: #2980b9;
	}
	.grille > img{
		float: left;
		margin-left: 0.3em;
	}

.footer{
	background-color: #fff !important;
}

	.footer > img{
		float: left;
		padding: 16px 13px 0px 12px;
		 -ms-transform: rotate(-45deg); /* IE 9 */
    	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    	transform: rotate(-45deg);
	}

	.footer > p{
		color: #7ed2ec;
		padding-bottom: 0px;
	}

	.partage{
		width: 80%;
		height: 26px;
		margin: 0 auto;
		background-color: #80CDE7 ! important;
	}
	.partage >a{
		color: #fff;
		margin-left: 40%;
	}


/*2eme page*/

.microphone{
	width: 100%;
	height: 160px;
	background-color: #fff;
	background: url('../images/son.png') no-repeat 50% 50%;
}

.plan{
	height: 150px;
	background: url('../images/map.png') no-repeat;
}

.second .grille{
	height: 55px;
}
.second .grille >a >img{
	text-align: center;
}

.headers{
	background-color:#7ed2ec !important;
}

/* PAGE TROIS*/


.main > h3{
	color: #2c3e50;
	text-align: center;
	margin: 0px;
}

.main > p{
	color: #2c3e50;
	text-align: center;
}

.groupe{
}
	.groupe .grille > p{
		height: 80px;
		margin: 0px;
	}
	.groupe .ui-grid-a {
		margin: 0 auto;
		width: 90%;
	}
	.groupe .grille{
		color: #7ed2ec;
		background-color: #fff;
		height: 80px;
	}


/* PAGE 4*/
.avis{
	float: left;
	width: 80%;
	height: auto;
	margin: 0 auto;
}
	.avis > a{
		float: left;
		margin-left: 1em;
	}

li >img {
	float: right;
	background-color: #7ed2ec;
	border-bottom:1px solid black; 
}

ol >li >p{
	float: left;
}

li > a{
	font-size: 0.2em;
}
.ui-listview > .ui-li-static.ui-li-has-thumb{
	padding: 0em 1em 0em 1em;
}


.rond{
	background-color: #7ed2ec;
	width: 65px;
	height: 65px;
	margin-top: 0.2em;
	margin-right: 1px;
	float: left;
	border-radius: 45px;
	color: #fff;
	font-size: 3em;
	text-align: center
}

.vert{
	width: 65px;
	height: 65px;
	float: left;
	margin-bottom: 0px;
	padding-left: 10px;
	font-size: 1.5em !important;
	color: #2ecc71;
}

.vert > em{
	font-size: 0.7em !important;
	
}

.parcours {
	color: #000;
}

/*SOCIAL*/

.social{
	width: 250px;
	height: 60px;
	margin: 0 auto;
	border-radius: 8px;
}

.email{
	background-color: #7ed2ec;
	line-height: 1.75;

}
	}
